:root{
    --burnt-sienna: #dd6e42ff;
    --timberwolf: #cdd6d0ff;
    --steel-blue: #3f88c5ff;
    --prussian-blue: #032b43ff;
    --pine-green: #136f63ff;
    --primary: #0d6efd;
}
body{
    background-color: var(--burnt-sienna);
}
header{
    text-align: center;
}
input{
    height: 2.5em;
}
img{
    object-fit: scale-down;
}
#title{
    color: #fff;
    background-color: var(--burnt-sienna);
    border: 10px solid var(--primary);
    box-shadow: inset 0 0 0 15px var(--prussian-blue);
    margin-left:auto;
    margin-right:auto;
    
}
#currentWeatherImage{
    border: 10px solid var(--burnt-sienna);
    box-shadow: inset 0 0 0 10px var(--prussian-blue);
    object-fit: contain;    
}
#search-container{
    height: 85vh;
    background-color: var(--timberwolf);
    border: 7.5px solid var(--prussian-blue)
}
#results-container{
    background-color: var(--timberwolf);
    border: 7.5px solid var(--prussian-blue);
}
#currentWeatherRow{
    border-bottom:5px dotted var(--burnt-sienna)
}

#searchBtn{
    /* background-color:cyan; */
    border-radius: 7.5px;
    height: 2.5em;
}

#citySearch{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 5px solid var(--burnt-sienna);
}

.pastResult{
    width: 60%;
}
.card{
    background-color: var(--prussian-blue);
    border: 7.5px solid var(--primary);
    color: var(--timberwolf)
}
.card-image{
    background-color: var(--prussian-blue);
    box-shadow: inset 0 0 0 5px var(--timberwolf);
    border: 7.5px solid var(--burnt-sienna);
    object-fit: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 75px;
}